@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700;&display=swap');

body {
  font-family: 'Raleway', sans-serif;
}

.main-bg-color {
  background-color: #040128;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.light {
  font-weight: 200;
}

.pointer {
  cursor: pointer;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: 700;
}

.margin--left {
  margin-left: 25px;
}

.margin--right {
  margin-right: 25px;
}

.margin--top {
  margin-top: 10%;
}

.margin--bottom {
  margin-bottom: 10%;
}

.white {
  color: #ccc;
}

.md-icon {
  font-size: 1.2rem;
}

.hide {
  display: none;
}
