@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700;&display=swap');

body {
  font-family: 'Raleway', sans-serif;
}

.main-bg-color {
  background-color: #040128;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.light {
  font-weight: 200;
}

.pointer {
  cursor: pointer;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: 700;
}
